<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>編集画面</title>
</head>
<body>
    <h1>資産管理帳</h1>

    <p>合計支出: <span th:text="${total}">0</span> 円</p>

	<form action="/update" method="post" th:object="${asset}">
			<input type="hidden" name="id" th:value="*{id}">

			<ul th:if="${#fields.hasErrors('*')}">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}" style="color: red;"></li>
			</ul>

			日付：<input type="date" name="date" th:value="*{date}" required><br>
		        
			項目：<input type="text" name="category" placeholder="食費など" th:value="*{category}"><br>
		        
			金額：<input type="number" name="amount" th:value="*{amount}"> 円<br>
		        
			<button type="submit">更新する</button>
	</form>

    <hr>
	
	<a href="/">戻る</a>
	
</body>
</html>